.modalCloseButtons {
  width: 45%;
  text-transform: uppercase;
  height: 40px;
}

.modalCloseButtonsWrapper {
  padding: 0 45px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
