.dialogItemWrapper {
  height: 68px;
  padding-left: 20px;
  &:hover {
    background: #f3f7ff;
    cursor: pointer;
  }
}

.dialogItemActive {
  background: #f3f7ff;
}

.dialogItemName {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #202020;
  margin-bottom: 5px;
}

.dialogItemMessage {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #202020;
  mix-blend-mode: normal;
  opacity: 0.4;
  overflow: hidden;
  white-space: nowrap;
  max-width: 226px;
  text-overflow: ellipsis;
}

.dialogItemMessageUnreadMessage {
  max-width: 200px;
}
