.sidebarHeader {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #202020;
  mix-blend-mode: normal;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #f7f7f7;
  margin: 0 -17px 22px;
  padding: 0 17px;
}

.sidebarHeaderContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sidebarHeaderTitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #202020;
  mix-blend-mode: normal;
  opacity: 0.65;
  display: flex;
  align-items: center;

  span {
    padding-left: 7px;
  }
}
