* {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

img {
  max-width: 100%;
}

.d-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}
