.time {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #202020;
  opacity: 0.4;
  margin-left: 44px;
}

.timeRight {
  margin-left: auto;
  display: block;
  text-align: right;
  margin-right: 360px;
}

.timeDialog {
  position: absolute;
  top: 16px;
  right: 20px;
}
