.avatar {
  margin-top: auto;
  height: 30px;
  width: 30px;
}

.avatarLeft {
  margin-right: 14px;
}

.avatarRight {
  margin-left: 14px;
}

.avatarPhoto {
  border-radius: 50%;
  max-width: 100%;
}
